.card-link {
    text-decoration: none;
}

.card-item {
    width: 300px;
    border-radius: 10px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}
.card-item:hover {
    transform: scale(1.01);
}

.card-item::before {
    content: "";
    position: absolute;
    inset: 0px;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(0, 0, 0, 0.5));
}

.heart-container {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-item:hover .heart-container {
    opacity: 1;
}

.heart-icon {
    font-size: 24px;
    color: rgba(255, 0, 0, 0.8);
    background-color: white;
    border-radius: 50%;
    padding: 5px;
    height: 100%;
    width: 100%;
    cursor: pointer;
}
.heart-icon:hover {
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
}

.card-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.card-title {
    padding: 10px;
    margin: 0px;
    position: absolute;
    bottom: 0px;
    color: white;
    font-size: 1rem;
}


@media screen and (max-width: 686px) {
    .card-img {
        height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .card-img {
        height: 300px;
    }
}